h1 {
    color:red
}
p1 {
      border: 2px solid green;     
}
body {
    background-color: rgb(137, 137, 175);
}

.card-body {
    display: flex;
    justify-content: space-between;
}










